* {
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body, html {
    height: 100%;
}

/* ----- navbar ----- */
.top-navbar {
    overflow: hidden;
    position: fixed;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    border-bottom: 2px solid rgba(255, 0, 0, 0.75);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    min-width: 10%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    order: 1;
}

.logo img {
    width: 125px;
    height: 50px;
}

.navbar-item-container {
    min-width: 50%;
    order: 2;
}

.navbar-nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.nav-item {
    padding: 20px;
}

.nav-item a {
    font-weight: normal;
    font-size: x-large;
    color: white;
    transition: 0.3s;
}

.nav-item a:hover {
    background-color: white;
    border: 1px solid red;
    color: black;
}

.nav-register {
    min-width: 10%;
    padding: 20px;
    background-color: rgb(200, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
}

.nav-register a {
    font-weight: normal;
    font-size: x-large;
    color: white;
    transition: 0.3s;
}

.nav-register a:hover {
    background-color: rgb(150, 0, 0);
}

.nav-register-active {
    min-width: 10%;
    padding: 20px;
    background-color: rgb(150, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
}

.nav-register-active a{
    font-weight: bold;
    font-size: x-large;
    color: white;
}
/* ----- end navbar ----- */

/* slider section */
.main-content {
    height: 100%;
}

.main-page {
    background-image: url("../images/86.jpg");
    height: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 800px) {
    
    .logo {
        max-width: 60%;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .navbar-item-container {
        min-width: 20%;
        order: 3;
    }

    .nav-item {
        padding: 10px;
    }

    .navbar-nav-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .nav-register {
        max-width: 20%;
        padding: 10px;
        order: 2;
    }

    .nav-register-active {
        max-width: 20%;
        padding: 10px;
        order: 2;
    }
}

::-webkit-scrollbar {
    display: none;
}

/* ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 80, 80);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(160, 0, 0);
    border-radius: 25px;
} */
