* {
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body, html {
    height: 100%;
}

/* ----- navbar ----- */
.top-navbar {
    overflow: hidden;
    position: fixed;
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    background-size: cover;
    border-bottom: 2px solid rgba(255, 0, 0, 0.75);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    min-width: 10%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    order: 1;
}

.logo img {
    width: 125px;
    height: 50px;
}

.navbar-item-container {
    min-width: 50%;
    order: 2;
}

.navbar-item-container input { 
    display: none;
}

.navbar-nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.nav-item {
    padding: 20px;
}

.nav-item a {
    font-weight: normal;
    font-size: x-large;
    color: white;
    transition: 0.3s;
}

.nav-item a:hover {
    background-color: white;
    border: 1px solid red;
    color: black;
}

.nav-register {
    padding: 20px;
    min-width: 10%;
    background-color: rgb(200, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
}

.nav-register a {
    font-weight: normal;
    font-size: x-large;
    color: white;
    transition: 0.3s;
}

.nav-register a:hover {
    background-color: rgb(150, 0, 0);
}

.nav-register-active {
    padding: 20px;
    min-width: 10%;
    background-color: rgb(150, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
}

.nav-register-active a{
    font-weight: bold;
    font-size: x-large;
    color: white;
}
/* ----- end navbar ----- */

.main-content {
    height: 100%;
}

.main-page {
    background-image: url("../images/86.jpg");
    height: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;
}

.regis-page {
    background-image: url("../images/Communism.jpg");
    height: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
    .logo {
        padding-left: 25px;
        padding-right: 25px;
    }

    .nav-register {
        min-width: 20%;
        order: 2;
    }

    .nav-register-active {
        min-width: 20%;
        order: 2;
    }

    .navbar-item-container {
        min-width: 20%;
        order: 3;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        
        user-select: none;
        z-index: 1;
    }

    .navbar-nav-list {
        display: none;
    }

    .navbar-nav-list li {
        padding: 5px;
    }

    .navbar-item-container input {
        display: block;
        position: absolute;
        width: 32px;
        height: 30px;
        
        cursor: pointer;
        
        opacity: 0;
        z-index: 2;
    }

    .navbar-item-container span {
        display: block;
        width: 32px;
        height: 5px;
        margin-bottom: 4px;
        
        background: red;
        border-radius: 5px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    .navbar-item-container span:first-child {
        transform-origin: 0% 0%;
    }

    .navbar-item-container span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .navbar-item-container input:checked {
        position: absolute;
    }

    .navbar-item-container input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: white;
    }
    .navbar-item-container input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .navbar-item-container input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    
    .navbar-item-container input:checked ~ .navbar-nav-list{
        display: block;
        position: fixed;
        padding-top: 100px;
        background-color: rgba(0, 0, 0, 0.75);
        background-size: cover;
        /* height: 100%; */
    }

}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 80, 80);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(160, 0, 0);
    border-radius: 25px;
}
